<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="langue">
      <h2 data-cy="langueDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.langue.detail.title">Langue</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ langue.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.langue.codeLangue">Code Langue</span></dt>
        <dd>
          <span>{{ langue.codeLangue }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.langue.nomLangue">Nom Langue</span></dt>
        <dd>
          <span>{{ langue.nomLangue }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.langue.docTraductions">Doc Traductions</span></dt>
        <dd>
          <div *ngIf="langue.docTraductions">
            <a [routerLink]="['/document-a-traduire', langue.docTraductions.id, 'view']">{{
              langue.docTraductions.nombreDePagesATraduire
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/langue', langue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
