<div>
  <h2 id="page-heading" data-cy="DetailDevisHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.home.title">DetailDevis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-detail-devis"
        [routerLink]="['/detail-devis/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.home.createLabel"> Créer un nouveau Detail Devis </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="detailDevis?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.home.notFound">Aucun Detail Devis trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="detailDevis && detailDevis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="qte">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.qte">Qte</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prixUnitaire">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.prixUnitaire">Prix Unitaire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prixTotal">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.prixTotal">Prix Total</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="devis.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.detailDevis.devis">Devis</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detailDevis of detailDevis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/detail-devis', detailDevis.id, 'view']">{{ detailDevis.id }}</a>
          </td>
          <td>{{ detailDevis.qte }}</td>
          <td>{{ detailDevis.prixUnitaire }}</td>
          <td>{{ detailDevis.prixTotal }}</td>
          <td>{{ detailDevis.etat }}</td>
          <td>
            <div *ngIf="detailDevis.devis">
              <a [routerLink]="['/devis', detailDevis.devis.id, 'view']">{{ detailDevis.devis.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/detail-devis', detailDevis.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/detail-devis', detailDevis.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(detailDevis)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="detailDevis && detailDevis.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
