<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-commentaire-heading"
        data-cy="CommentaireCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.commentaire.home.createOrEditLabel"
      >
        Créer ou éditer un Commentaire
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.commentaire.texte" for="field_texte">Texte</label>
          <input type="text" class="form-control" name="texte" id="field_texte" data-cy="texte" formControlName="texte" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="jhipsterSampleApplicationApp.commentaire.demandeDeTraduction"
            for="field_demandeDeTraduction"
            >Demande De Traduction</label
          >
          <select
            class="form-control"
            id="field_demandeDeTraduction"
            data-cy="demandeDeTraduction"
            name="demandeDeTraduction"
            formControlName="demandeDeTraduction"
            [compareWith]="compareDemandeDeTraduction"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="demandeDeTraductionOption" *ngFor="let demandeDeTraductionOption of demandeDeTraductionsSharedCollection">
              {{ demandeDeTraductionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.commentaire.prestataire" for="field_prestataire"
            >Prestataire</label
          >
          <select
            class="form-control"
            id="field_prestataire"
            data-cy="prestataire"
            name="prestataire"
            formControlName="prestataire"
            [compareWith]="comparePrestataire"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="prestataireOption" *ngFor="let prestataireOption of prestatairesSharedCollection">
              {{ prestataireOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.commentaire.demandeur" for="field_demandeur"
            >Demandeur</label
          >
          <select
            class="form-control"
            id="field_demandeur"
            data-cy="demandeur"
            name="demandeur"
            formControlName="demandeur"
            [compareWith]="compareDemandeur"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="demandeurOption" *ngFor="let demandeurOption of demandeursSharedCollection">{{ demandeurOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
