<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-demandeur-heading"
        data-cy="DemandeurCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.demandeur.home.createOrEditLabel"
      >
        Créer ou éditer un Demandeur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.civilite" for="field_civilite">Civilite</label>
          <select class="form-control" name="civilite" formControlName="civilite" id="field_civilite" data-cy="civilite">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.Civilite.null' | translate }}</option>
            <option *ngFor="let civilite of civiliteValues" [value]="civilite">
              {{ 'jhipsterSampleApplicationApp.Civilite.' + civilite | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 80 }"
            >
              Ce champ doit faire moins de 80 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
          <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('prenom')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 80 }"
            >
              Ce champ doit faire moins de 80 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.dateDeNaissance" for="field_dateDeNaissance"
            >Date De Naissance</label
          >
          <div class="input-group">
            <input
              id="field_dateDeNaissance"
              data-cy="dateDeNaissance"
              type="text"
              class="form-control"
              name="dateDeNaissance"
              ngbDatepicker
              #dateDeNaissanceDp="ngbDatepicker"
              formControlName="dateDeNaissance"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDeNaissanceDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
          <div *ngIf="editForm.get('telephone')!.invalid && (editForm.get('telephone')!.dirty || editForm.get('telephone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('telephone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 30 }"
            >
              Ce champ doit faire moins de 30 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Ce champ doit faire moins de 50 caractères.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Email' }"
            >
              Ce champ doit suivre l'expression régulière Email.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
          <div *ngIf="editForm.get('adresse')!.invalid && (editForm.get('adresse')!.dirty || editForm.get('adresse')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('adresse')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Ce champ doit faire moins de 50 caractères.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.dateCreation" for="field_dateCreation"
            >Date Creation</label
          >
          <div class="input-group">
            <input
              id="field_dateCreation"
              data-cy="dateCreation"
              type="text"
              class="form-control"
              name="dateCreation"
              ngbDatepicker
              #dateCreationDp="ngbDatepicker"
              formControlName="dateCreation"
            />
            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.etat" for="field_etat">Etat</label>
          <select class="form-control" name="etat" formControlName="etat" id="field_etat" data-cy="etat">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.EtatDemandeur.null' | translate }}</option>
            <option *ngFor="let etatDemandeur of etatDemandeurValues" [value]="etatDemandeur">
              {{ 'jhipsterSampleApplicationApp.EtatDemandeur.' + etatDemandeur | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.ville" for="field_ville">Ville</label>
          <select class="form-control" id="field_ville" data-cy="ville" name="ville" formControlName="ville" [compareWith]="compareVille">
            <option [ngValue]="null"></option>
            <option [ngValue]="villeOption" *ngFor="let villeOption of villesSharedCollection">{{ villeOption.nom }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.banque" for="field_banque">Banque</label>
          <select
            class="form-control"
            id="field_banque"
            data-cy="banque"
            name="banque"
            formControlName="banque"
            [compareWith]="compareBanque"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="banqueOption" *ngFor="let banqueOption of banquesSharedCollection">{{ banqueOption.libelle }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.demandeur.agenceBanque" for="field_agenceBanque"
            >Agence Banque</label
          >
          <select
            class="form-control"
            id="field_agenceBanque"
            data-cy="agenceBanque"
            name="agenceBanque"
            formControlName="agenceBanque"
            [compareWith]="compareAgenceBanque"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="agenceBanqueOption" *ngFor="let agenceBanqueOption of agenceBanquesSharedCollection">
              {{ agenceBanqueOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
