<div>
  <h2 id="page-heading" data-cy="DocumentATraduireHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.home.title">DocumentATraduires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document-a-traduire"
        [routerLink]="['/document-a-traduire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.home.createLabel"> Créer un nouveau Document A Traduire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="documentATraduires?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.home.notFound">Aucun Document A Traduire trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="documentATraduires && documentATraduires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreDePagesATraduire">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.nombreDePagesATraduire">Nombre De Pages A Traduire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mentionTraitementParticulier">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.mentionTraitementParticulier"
                >Mention Traitement Particulier</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarques">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.remarques">Remarques</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="langueDestination.nomLangue">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.langueDestination">Langue Destination</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeDocument.typeDocument">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.typeDocument">Type Document</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="demandeTraductions.delaiDeTraitemenSouhaite">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.documentATraduire.demandeTraductions">Demande Traductions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documentATraduire of documentATraduires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/document-a-traduire', documentATraduire.id, 'view']">{{ documentATraduire.id }}</a>
          </td>
          <td>{{ documentATraduire.nombreDePagesATraduire }}</td>
          <td>{{ documentATraduire.mentionTraitementParticulier }}</td>
          <td>{{ documentATraduire.remarques }}</td>
          <td>
            <div *ngIf="documentATraduire.langueDestination">
              <a [routerLink]="['/langue', documentATraduire.langueDestination.id, 'view']">{{
                documentATraduire.langueDestination.nomLangue
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="documentATraduire.typeDocument">
              <a [routerLink]="['/nature-document-a-traduire', documentATraduire.typeDocument.id, 'view']">{{
                documentATraduire.typeDocument.typeDocument
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="documentATraduire.demandeTraductions">
              <a [routerLink]="['/demande-de-traduction', documentATraduire.demandeTraductions.id, 'view']">{{
                documentATraduire.demandeTraductions.delaiDeTraitemenSouhaite
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/document-a-traduire', documentATraduire.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/document-a-traduire', documentATraduire.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(documentATraduire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="documentATraduires && documentATraduires.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
